.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/node_modules/**
**/.DS_Store
**/*.vsix
**/.nyc_output/**
**/coverage/**
**/out/test/**
**/*.log
**/.github/**
**/.eslintrc.*
**/jest.config.*
**/*.test.ts
**/*.spec.ts
**/test/**
